{# Index template #}
{% extends 'base.html.twig' %}

{% block title %}timeClock | Welcome{% endblock %}

{% block body %}
    <section id="main-area">
        <h1 class="logo">timeClock</h1>
    </section>
    <section id="navigation">
        {% if code != 0 or code != '' %}
            <span class="button"><a href="{{ path('signIn', {'code': code }) }}">Sign In as a last user</a></span>
        {% endif %}
        
        <span class="button"><a href="{{ path('signUp') }}">Sign Up</a></span>
        <div class="note">Version 1.0.2 (04/03/17)</div>
    </section>
{% endblock %}